h1, h2, h3, li, a, p {
	font-family: Arial;
	color: grey;
}

h1 {
	font-family: cursive;
	color: black;
}

h2, h3 {
	text-transform: uppercase;
	color: orange;
}

a {
	color: blue;
}

strong {
	text-transform: uppercase;
	color: black;
}

em {
	color: red;
}

#desserts {
	color: purple;
}